* {
    margin: 0px;
    box-sizing: border-box;
    background-image: linear-gradient(250deg, rgb(124, 5, 5) 40%, black 80%); 
    color: floralwhite;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(135deg, rgb(124, 5, 5) 0%, black 80%);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
    background: grey;
  }

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 2rem;
}
header {
    margin-top: 114px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 36px;
    border: floralwhite solid 0.5px;
}
    

figure {
    margin: 1rem;
}

figcaption {
    display: flex;
    justify-content: center;
}