* {
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(270deg, #000 25%, #7308b9 100%);
    color: #FFF;
    
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

figure {
    margin: 1rem;
    color: #FFF;
    font-size: 24px;
}

figure img {
    max-height: 14rem;
}