:root {
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(150deg, rgb(124, 5, 5) 65%, black 80%);
    color: floralwhite;
}

.container {
    display: flex;
}

.main {
    margin: 8rem 5rem 0 10rem;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 3.5eem;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    color: floralwhite;
}

li {
    list-style-type: none;
}